body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffe6f0; /* baby pink */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.box {
  width: 350px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 153, 204, 0.4);
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #ff66b2;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  background: #ff99cc;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #ff66b2;
}

span {
  color: #d63384;
  cursor: pointer;
  font-weight: bold;
}
